body {
  font-family: sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

.header {
  color: $color-black;
  font-family: "Lobster", cursive;
  font-size: 5rem;
  letter-spacing: 0.9rem;
  text-align: left;
  position: fixed;
  top: 2rem;
  left: 2rem;
  padding: 1rem 2rem;
  display: inline-block;
  text-shadow: 0 1rem 2rem rgba($color-black, 0.5);
  @include respond(phone) {
    background-color: whitesmoke;
    width: 100%;
    text-align: center;
    text-shadow: none;
    padding: 1rem 0;
    top: 0;
    left: 0;
  }
  @include respond(tab-port) {
    background-color: whitesmoke;
    width: 100%;
    text-align: center;
    text-shadow: none;
    padding: 1rem 0;
    top: 0;
    left: 0;
  }
  @include respond(tab-land) {
    background-color: whitesmoke;
    width: 100%;
    text-align: center;
    text-shadow: none;
    padding: 1rem 0;
    top: 0;
    left: 0;
  }
}

.gallery-card__text {
  font-family: "Lato", sans-serif;
  text-align: left;
  font-size: 2rem;
  margin-top: 1rem;
}
