body {
  font-family: sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

.header {
  position: fixed;
  top: 0rem;
  left: 0rem;
  width: 100%;
  text-align: left;
  text-shadow: none;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  z-index: 100;
  border-bottom: 1px solid #7777;

  &__text {
    color: $color-black;
    font-family: "Lobster", cursive;
    font-size: 5rem;
    letter-spacing: 0.9rem;
    @include respond(phone) {
      font-size: 3rem;
    }
  }
}

.gallery-card__text {
  font-family: "Lato", sans-serif;
  text-align: left;
  font-size: 2rem;
  //
  //letter-spacing: 0.5rem;
}
